@model IEnumerable<inClass1b_mvc.ViewModels.TechnologyProjectVM>

@{
    ViewData["Title"] = "Portfolio Projects";
}

<h1>@ViewData["Title"] </h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Project.Title)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Project.Title, "Details", new { id = item.Project.ProjectId })
                </td>
            </tr>
        }
    </tbody>
</table>

